/* 
background-color,headings, buttons - #F2F2F2
font-size: 15px
paragraph - #fffff
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


:root {
    --light-white: hsl(0, 0%, 95%);
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

}
body {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca',sans-serif;
    line-height: 1.5;
    background-color: var(--light-white);
    
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: var(--light-white);
    padding-top: 2rem;
    font-size: 25px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 2rem;
}

a {
    text-decoration: none;
    padding: 25px;
    padding-top: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.btn {
    margin-top: 4.2rem;
    border: solid;
    text-transform: capitalize;
    color: var(--light-white);
    border-color: white;
    padding: 0.7rem;
    border-radius: 20px;
    width: 70%;
}



.first-section {
    background-color: var(--bright-orange);
    padding: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.first-section .btn {
    background-color: var(--bright-orange);
}

.first-section .btn:hover {
    background-color: var(--light-white);
    color: var(--bright-orange);
}

.second-section {
    background-color: var(--dark-cyan);
    padding: 35px;
}


.second-section .btn {
    background-color: var(--dark-cyan);
}

.second-section .btn:hover {
    background-color: var(--light-white);
    color: var(--dark-cyan);
}

.third-section {
    background-color: var(--very-dark-cyan);
    padding: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.third-section .btn {
    background-color: var(--very-dark-cyan);
}

.third-section .btn:hover {
    background-color: var(--light-white);
    color: var(--very-dark-cyan);
}